- content_for :page_title do
  = t('sign_in.title')

.grid-row

  .column-two-thirds
    %h1.heading-large= t('sign_in.title')

    = simple_form_for :identifications, url: identifications_path, method: :post do |f|
      .form-group
        %p= t('sign_in.guidance')
        %p= t('sign_in.expectations', email_link: mail_to(t('help.email'))).html_safe
        = f.submit t('sign_in.link'), class: 'button'
